<!--- Welcome Section -->
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<hr>
		<div class="col-12">
			<h3 style="color:#6648b1;">Welcome to the FaceMorph Web Page.</h3>
			<br>
			<h7 style="color: #888;"> First, a quick history lesson in Computer Vision.. </h7>
		</div>
	</div>
	<hr class="my-4">
</div>

<div class="item" style="overflow:auto;">
    <div id="timeline" style="overflow:auto;">
      <div style="overflow:auto;">

        <section class="year">
          <h3>1966</h3>
          <section>
            <ul>
              <li>"Marvin Minsky at MIT asked his undergraduate student Gerald Jay Sussman to “spend the summer linking a camera to a computer and getting the computer to describe what it saw”</li>
            </ul>
          </section>     
        </section>

        <section class="year">
          <h3>1970's</h3>
          <section>
            <ul>
              <li>"When computer vision first started out in the early 1970s, it was viewed as the visual perception component of an ambitious agenda to mimic human intelligence and to endow robots with intelligent behavior." Notable accomplishments include: </li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Digital image processing</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Blocks world, line labeling</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Generalized cylinders</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Pattern recognition</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Stereo correspondence</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Intrinsic images</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Optical flow</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Structure from motion</li>
            </ul>
          </section>
        </section>

        <section class="year">
          <h3>1980's</h3>
          <section>
            <ul>
              <li>"In the 1980s, a lot of attention was focused on more sophisticated mathematical techniques for performing quantitative image and scene analysis." Notable accomplishments include: </li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Image pyramids</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Shape from shading, texture, and focus</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Physically-based modeling</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Regularization</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Markov Random Fields</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Kalman filters</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp 3D range data processing</li>
            </ul>
          </section>
        </section>

        <section class="year">
          <h3>1990's</h3>
          <section>
            <ul>
              <li>"Newborn concepts from the past decade become more active, taking on a more prominent role in computer vision." Notable accomplishments include: </li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Projective invariants</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Factorization</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Physics-based vision</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Graph cuts</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Particle filtering</li>
            </ul>
          </section>
        </section>

        <section class="year">
          <h3>2000's</h3>
          <section>
            <ul>
              <li>"This decade continued to deepen the interplay between the vision and graphics fields, but more importantly embraced data-driven and learning approachs as core components of vision." Notable accomplishments include: </li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Energy-based segmentation</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Face recognition and detection</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Image-based modeling and rendering</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Texture synthesis and inpainting</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Computational photography</li>
            </ul>
          </section>
        </section>

        <section class="year">
          <h3>2010's</h3>
          <section>
            <ul>
              <li>"The trend towards using large labeled (and also self-supervised) data sets to develop machine learning algorithms became a tidal wave that totally revolutionized the development of image recognition algorithms as well as other applications, such as denoising and optic flow, which previously used Bayesian and global optimization techniques." Notable accomplishments include: </li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Feature-based recognition</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Category recognition</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Machine learning</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Modeling and tracking humans</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Semantic segmentation</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp SLAM and VIO</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Deep Learning</li>
            </ul>
          </section>
        </section>

        <section class="year">
          <h3>2020's</h3>
          <section>
            <ul>
              <li>"Incredible advances in the performance and reliability of computer vision algorithms, brought in part by the shift to machine learning and training on very large sets of real-world data. It has also seen the application of vision algorithms in myriad commercial and consumer scenarios."</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>&nbsp&nbsp&nbsp&nbsp Current</li>
            </ul>
            <br>
            <br>
            <center><a href="https://szeliski.org/Book/"><p class='col-lg-12' style='color:black'>https://szeliski.org/Book/</p></a></center>
          </section>
        </section>
             
      </div>
    </div>
</div>